
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Kalnia+Glaze:wght@100..700&display=swap');
h2{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    
}
body{
    background-color: aquamarine;
}